@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@font-face {
    font-family: "Modern Negra";
    /*src: url("/fonts/Modern Negra Demo.ttf") format("truetype");*/
}

@theme {
    --color-yellow: #e7d393;
    --color-white-100: #efefef;
    --font-sans: "Mona Sans", sans-serif;
    --font-modern-negra: "Modern Negra", sans-serif;
    --font-serif: "DM Serif Text", serif;
}

html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@utility flex-center {
    @apply flex justify-center items-center;
}

@utility col-center {
    @apply flex flex-col justify-center items-center;
}

@utility abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

@utility text-gradient {
    background: linear-gradient(to bottom, #ffffff, #898989);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@utility radial-gradient {
    background: radial-gradient(
            circle at center,
            #434343 0%,
            #000 50%,
            transparent 100%
    );
}

@utility masked-img {
    mask-image: url("/images/...");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 50%;
}
@layer components {
    main {
        @apply w-full overflow-x-hidden;
    }

    nav {
        @apply fixed z-50 w-full;

        div {
            @apply flex md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
        }

        p {
            @apply font-modern-negra text-3xl -mb-2;
        }

        a {
            @apply cursor-pointer text-nowrap text-sm md:text-base lg:text-lg xl:text-xl;
        }

        ul {
            @apply flex-center lg:gap-12 gap-7;
        }
    }

    .noisy {
        @apply absolute inset-0 size-full bg-[url()];
    }

    #hero {
        @apply relative z-10 min-h-[100vh] w-full border border-transparent;

        h1 {
            @apply md:mt-32 mt-40 text-8xl md:text-[20vw] leading-none text-center font-modern-negra;

            div {
                @apply bg-gradient-to-r from-yellow-400 to-green-800 bg-clip-text text-transparent;
            }
        }

        .body {
            @apply container mx-auto absolute left-1/2 -translate-x-1/2 lg:bottom-5 top-auto md:top-[30vh] flex justify-between items-end px-5;

            .content {
                @apply flex lg:flex-row flex-col w-full gap-10 justify-between items-center lg:items-end mx-auto;

                p:nth-of-type(2) {
                    @apply font-modern-negra text-6xl text-yellow max-w-xl;
                }

                p:last-of-type {
                    @apply 2xl:text-start text-center;
                }

                .hero-center-image {
                    @apply hidden md:block flex-shrink-0;

                    img {
                        @apply w-45 h-45 md:w-68 md:h-68 object-cover rounded-full
                        border-2 border-yellow-400 p-1
                        shadow-[0_0_24px_rgba(255,215,0,0.25)];
                    }
                }

                .view-suites {
                    @apply space-y-5 text-lg lg:max-w-2xs md:max-w-xs w-full;

                    p {
                        @apply text-left;
                    }

                    a {
                        @apply font-semibold opacity-80 2xl:text-start text-center text-base md:text-lg
                        hover:text-yellow hover:opacity-100 bg-gradient-to-br from-yellow-500 via-yellow-300 to-emerald-400 bg-clip-text text-transparent;
                    }
                }
            }
        }
    }

    #suites {
        @apply relative min-h-dvh w-full overflow-hidden [scroll-margin-top:99px];

        h2 {
            @apply text-5xl md:text-6xl font-modern-negra max-w-lg;
        }

        .images {
            @apply flex flex-row justify-center items-end gap-5 w-full pt-10 px-5;

            img {
                @apply w-1/2 h-48 md:h-80 object-cover rounded-xl;
            }
        }

        #c-left-suite {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        #c-right-suite {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        #c-middle-suite {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        .list {
            @apply container mx-auto relative z-10 flex md:flex-row flex-col justify-between items-start gap-20 pt-20 2xl:px-0 px-5;

            .popular {
                @apply space-y-8 w-full md:w-fit;
            }

            ul {
                @apply space-y-8;

                li {
                    @apply flex justify-between items-start;

                    h3 {
                        @apply font-modern-negra 2xl:text-3xl text-xl text-yellow;
                    }

                    p {
                        @apply text-sm;
                    }

                    span {
                        @apply text-xl font-medium;
                    }
                }
            }
        }
    }

    #doubleRooms {
        @apply relative min-h-dvh w-full overflow-hidden;

        h2 {
            @apply text-5xl md:text-6xl font-modern-negra max-w-lg;
        }

        .images {
            @apply flex flex-row justify-center items-end gap-5 w-full pt-10 px-5 mt-[100px];

            img {
                @apply w-1/2 h-48 md:h-80 object-cover rounded-xl;
            }
        }

        #c-left-doubleRoom {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        #c-right-doubleRoom {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        #c-middle-doubleRoom {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        .list {
            @apply container mx-auto relative z-10 flex md:flex-row flex-col justify-between items-start gap-20 pt-20 2xl:px-0 px-5;

            .popular {
                @apply space-y-8 w-full md:w-fit;
            }

            ul {
                @apply space-y-8;

                li {
                    @apply flex justify-between items-start;

                    h3 {
                        @apply font-modern-negra 2xl:text-3xl text-xl text-yellow;
                    }

                    p {
                        @apply text-sm;
                    }

                    span {
                        @apply text-xl font-medium;
                    }
                }
            }
        }
    }

    #singleRooms {
        @apply relative min-h-dvh w-full overflow-hidden;

        h2 {
            @apply text-5xl md:text-6xl font-modern-negra max-w-lg;
        }

        .images {
            @apply flex flex-row justify-center items-end gap-5 w-full pt-10 px-5 mt-[100px];

            img {
                @apply w-1/2 h-48 md:h-80 object-cover rounded-xl;
            }
        }

        #c-left-singleRoom {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        #c-right-singleRoom {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        #c-middle-singleRoom {
            @apply w-1/3 md:w-64 md:h-64 2xl:w-[512px] 2xl:h-[512px] object-cover
            2xl:border-4 2xl:border-yellow 2xl:p-2 2xl:rounded-xl;
        }

        .list {
            @apply container mx-auto relative z-10 flex md:flex-row flex-col justify-between items-start gap-20 pt-20 2xl:px-0 px-5;

            .popular {
                @apply space-y-8 w-full md:w-fit;
            }

            ul {
                @apply space-y-8;

                li {
                    @apply flex justify-between items-start;

                    h3 {
                        @apply font-modern-negra 2xl:text-3xl text-xl text-yellow;
                    }

                    p {
                        @apply text-sm;
                    }

                    span {
                        @apply text-xl font-medium;
                    }
                }
            }
        }
    }
}